@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;

}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;

}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0%;
  padding: 0%;

}

.main-header {
  display: flex;
  background: #ffffff;
  color: #000000;
  min-height: 64px;
  padding: 0 70px;
  justify-content: space-between;

}

.logo {
  width: 140px;
  min-height: 70px;
  position: relative;

}

/*
.serch {
  display: flex;
padding: 22px 12px;
justify-content: center;
align-items: center;
}
*/

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  cursor: pointer;
  padding: 22px 12px;
}

/*
.navigation-item-user {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}
*/

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 0;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;

}

.serch {
  width: 18px;
  height: 18px;

}

/*
.navigation-user-list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

}
*/

.button-want-here {
  width: 160px;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #756157;
  color: #ffffff;
}

.main-index {
  display: block;
  flex-grow: 1;
  background-image: url("../images/vector-files/Vector-first-page.svg");

}

.welcome {
  background-image: url("../images/vector-files/titul-bottom-side.svg"), url("../images/photos/index-background-min.jpg");
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  padding: 51px 0 82px;

}

.welcome-sedona {
  width: 458px;
  min-height: 352px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.description {
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.small-town {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

}

.better {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 0;

}

.description {
  text-align: center;
  color: #000000;
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 69px;
  padding-bottom: 69px;

}

.reasons {
  width: 230px;
  padding: 103px 85px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-description {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.advantages-item-accent .advantages-item {
  padding-top: 102px;
  padding-bottom: 102px;
}

.come-to-sedona {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-item-accent {
  display: flex;

}

.sedona-pic {
  width: 800px;
  min-height: 385px;

}

.blue {
  background-color: #82b3d3;
  color: #ffffff;
}

h3 {
  font-size: 24px;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.20);
}

.transparent {
  background-color: rgba(131, 179, 211, 0.12);
}

.rest {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.text {
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.residence {
  background-color: rgba(131, 179, 211, 0.20);
  font-size: 18px;

}

.residence::before {
  content: url(../images/vector-files/residence.svg);
  width: 75px;
  min-height: 72px;

}

.presents {
  background-color: rgba(131, 179, 211, 0.20);
}

.presents::before {
  content: url(../images/vector-files/presents.svg);
  width: 75px;
  min-height: 72px;
}


.food::before {
  content: url(../images/vector-files/food.svg);
  width: 75px;
  min-height: 72px;

}

.services {
  display: flex;
  text-align: center;
  font-size: 18px;

}

.services-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.services-item {
  padding: 80px 85px;
}

h3 {
  font-size: 24px;
}

.text {
  font-size: 18px;
}

/* поиск отеля */
.hotel-serch {
  display: block;
  text-align: center;
  width: 1200px;
  min-height: 406px;
}

.interest-title {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  gap: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase
}

.reserch {
  padding: 96px 304px;

}

.interest-title {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;

}

.reserch-description {
  font-family: "PT sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 592px;
  min-height: 52px;
  gap: 54px;

}

/*подписаться на рассылку*/

.subscribe {
  background-image: url("../images/photos/Subscribe.jpg");
  /*padding: 96px 258px 104px 258px;*/

  width: 1200px;
  gap: 10px;
  display: flex;
  background-repeat: no-repeat;
  margin: 0;

}

.get-information {
  font-family: "PT sans", sans-serif;
  padding-top: 96px;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
  color: #ffffff;
  gap: 54px;
  width: 684px;
  min-height: 215;

}

.get-letters {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  width: 404px;
  min-height: 36px;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  gap: 20px;
  align-items: center;

}

.useful {
  width: 475px;
  min-height: 53px;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  gap: 54px;
}

.hotels-button {
  font-family: "PT sans", sans-serif;
  display: inline-flex;
  padding: 8px 50px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.newsletter-form {
  width: 412px;
  min-height: 28px;
  padding: 12px 20px;
  gap: 260px;
  align-items: center;

}

.newsletter-button {
  display: inline-flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: "PT sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  background: #82B3D3;
  color: #ffffff;
}

/*Футер*/

.main-footer {
  display: flex;
  justify-content: center;
  padding: 40px 70px 30px 70px;
  align-items: center;

}

.footer-sosial-item {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.footer-sosial-list {
  display: flex;
  list-style-type: none;

}

.footer-general {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

}

.contacts-phone {
  display: flex;
  width: 331px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
  min-height: 33px;
}

/*Каталог*/

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 40p;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
}

.main-catalog {
  flex-grow: 1;
}

.main-header-catalog {
  display: flex;
  background: #ffffff;
  color: #000000;
  min-height: 64px;
  padding: 0 70px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;

}

.inner-catalog {
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #476b86;
  min-height: 412px;
  background-image: url("../images/photos/filter-background24.jpg");
  padding: 35px 70px 70px 70px;
}

.catalog-title {
  margin: 0;
  width: 495px;
  padding-top: 35px;
  padding-bottom: 8px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}


.main-filter-1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1060px;

}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  position: relative;
}

.breadcrumbs-hotels {
  font-size: 16px;

}

.results-wrapper {
  padding: 50px 70px 60px 70px;
  ;
}

.sort {
  width: 1060px;
  min-height: 49px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
}

.hotel-results {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.product-list {
  font-family: "PT Sans" sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  outline: 1px solid #e6e6e6;
}


.product-card-link {
  grid-template-columns: repeat(2, 140px);
  grid-column: 1/-1;
}

.product-card-price {
  font-size: 16px;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.product-card-item {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: inherit;
  grid-column: 1/-1;

}

.amount {
  text-align: right;
  font-size: 16px;
}

.product-card-button {
  background-color: #756157;

}

.button {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
    text-align: center;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
  min-height: 36px;
  border: none;
}

.button-favorite {
  background-color: #82b3d3;
}

.button-choosen {
  background-color: #7db54f;
}

.pagination-wrapper {
  width: 1060px;
  min-height: 60px;
  padding-top: 40px;
}

.reiting {
  font-size: 16px;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  padding: 9px 22px 8px 23px
}

.stars {
  background-image: url(../images/vector-files/star.svg);
  align-items: center;
  background-repeat: repeat-x;
  background-position: -4px center;
  background-size: 25px 17px;
  font-size: 16px;

}

.stars4 {
  width: 6em;

}

.stars3 {
  width: 4.5em;
}

.stars2 {
  width: 3em;
}

.pagination {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;

}

.pagination-link {
  box-sizing: border-box;
  width: 60px;
  min-height: 60px;
  display: block;
  padding: 14px 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item {
  list-style-type: none
}

.pagination-others {
  background-color: #83b3d3;
}

.pagination-hidden {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 258px 104px 258px;

}
